body {
        
}
header {
    background: url("../pics/bg-top.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    height: 900px;
}
hr {
    display: block;
    border-color: rgba(0, 64, 0, 0.61);
    margin: 0;
}
#top-name {
    margin: auto;
    display: inline-block;
    color: #fff;
    padding-top: 20%;
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 8px;
    }
#top-resume {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}
#top-link {
    background-color: #fff;
    display: block;
    width: 100%;
    height: 80px;
    bottom: 0px;
    position: absolute;
    color: rgb(0, 0, 0);
}
nav#top-link {
    background-color: rgba(255, 255, 255, 0.23)!important;
}
.navbar-light a.navbar-brand {
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#navbar-main {
    padding: 0;
    margin: 0;
}
#navbar-main-name {
    padding: 0;
    margin: 0;
}
#profile {
    text-align: center;
}
#navigation-names {
    display: inline-block;
    padding: 5px;
    margin: 20px;
    text-align: center;
    color: rgba(100, 97, 97, 0.75);
    font-size: 2.8em;
    border-bottom: 3px solid rgba(0, 67, 1, 0.75);
}
#navigation-names-secondary {
    display: block;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    color: rgba(51, 113, 14, 0.7098039215686275);
}
#default-text {
    display: block;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    color: rgb(142, 139, 139);
}
#default-text-bold {
    padding: 0;
    margin: 0;
}
#img-me .rounded .mx-auto .d-block{
    margin: auto;
    padding: 30px;
    max-width: 100%;
    height: auto;
}
#experiences {
	text-align: center;
	background: rgba(239, 250, 177, 0.41);
}
#navigation-names-parent {
	text-align: center;
}
#abilities article {
	text-align: left;
}
#abilities article #navigation-names-secondary {
	margin: 20px;
}
#projects-images {
    max-width: 100%;
}    
@media only screen and (orientation: portrait) and (max-width: 575.98px) { 

}
@media (max-width: 767.98px) {
    #top-name {
        padding-top: 60%;
    }
}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}
@media (min-width: 1199.98px) {

}
